<div class="navbar bg-base-100">
    <div class="flex-1">

      <!-- <a class="text-lg btn hover:bg-violet-600 hover:text-base-100" href="/">Lego Collection</a> -->
      <button class="text-lg btn hover:bg-violet-600 hover:text-base-100">
        <a class="<%= (page == "/home") ? 'active' : '' %>" href="/">Lego Collection</a>
      </button>
      
      <!-- p4 addition -->
      <button class="btn btn-active:bg-violet-600 hover:bg-violet-600 hover:text-base-100">
        <a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a>
      </button>

      <!-- <a class="btn hover:bg-violet-600 hover:text-base-100"  href="/about">About</a>  -->
      <button class="btn btn-active:bg-violet-600 hover:bg-violet-600 hover:text-base-100">
        <a class="<%= (page == "/about") ? 'active' : '' %>"  href="/about">About</a> 
      </button>
      

    </div>
  
    <div class="navbar-center flex">
      <ul class="menu">
        <li>
          <!-- <details> -->
            
            <!-- drop down of three -->
            <!-- <summary>Summary Themes</summary> -->
            <!-- <ul class="p-2 bg-base-100 right-0 active:bg-violet-700"> -->
              <!-- base copy <a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets?theme=technic">Technic</a> -->
              <!-- <li><a href="/lego/sets?theme=Modular_Buildings">Modular Buildings</a></li> -->
              <!-- <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets?theme=Modular_Buildings">Modular Buildings</a></li> -->
              <!-- <li><a href="/lego/sets?theme=Ultimate_Collector_Series">Ultimate Collector Series</a></li> -->
              <!-- <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets?theme=Ultimate_Collector_Series">Ultimate Collector Series</a></li> -->
              <!-- <li><a href="/lego/sets?theme=town">Town</a></li> -->
              <!-- <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets?theme=town">Town</a></li> -->
              
            </ul>
          <!-- </details> -->
          
        </li>
      </ul>
    </div>
  </div>